body,
html {
    font-size: 1.05rem;
    font-family: Oswald, 'Noto Sans TC', sans-serif !important;
    font-size: 1rem;
}

.ct-nav {
    .logo-text {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .f-nav-search-form {
        .f-nav-search {
            font-size: 0.75rem;
        }
    }

    .f-nav-link {
        .f-nav-cart-div {
            .num-badge {
                font-size: .75rem;
                font-family: Oswald, sans-serif !important;
            }
        }
    }
}

.f-cart-tooltip {
    .tooltip-inner {
        .contant {
            font-size: .75rem;
        }

        .price {
            font-size: 1rem;
        }

        .f-cart-link {
            font-size: .75rem;
        }
    }
}


.ct-pc-left {
    .list-group {
        .list-group-item {
            font-size: 1rem;

            button {
                font-size: 1.25rem;
            }
        }

        .f-sub-menu-link {
            font-size: .85rem;
        }

        .f-news-link {
            font-size: .7rem;
        }
    }
}

.ct-home-iteam-list,
.more-list-page {
    h5 {
        font-size: 1.25rem;
    }

    .f-more-link {
        font-size: .75rem;
    }


    .card-body {
        font-size: .85rem;

        .price {
            font-size: 1.15rem;
        }
    }
}

.ct-footer {
    .right {
        font-size: .85rem;
    }
}

.login-page,
.forget-page,
.register-page {
    label {
        font-size: 1.25rem;

        &.custom-control-label {
            font-size: inherit;
        }
    }
}

.login-page {
    .card {
        .f-forget-link {
            font-size: .85rem;
        }
    }
}

.register-page,
.forget-page {
    .list-title {
        font-weight: 400;
    }
}

.cart-page,
.checkout-page {
    .total-warp {
        .title {
            font-weight: 400;
        }
    }

    .pay-warp {
        .fd-btn.pay-type-btn {
            font-size: .85rem;
        }
    }
}
