/* .ml-auto, .mx-auto {
	margin-left: auto !important;
} */

.no-scroll-bar::-webkit-scrollbar {
    display: none
}

@media (min-width: 1400px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1330px;
    }
}

/* 
@media (min-width: 992px) .container-lg,
.container-md,
.container-sm,
.container {
    max-width: 960px;
}

@media (min-width: 768px) .container-md,
.container-sm,
.container {
    max-width: 720px;
}

@media (min-width: 576px) .container-sm,
.container {
    max-width: 540px;
} */
