/* nav for pc */
.ct-nav {
    padding: 1.07rem 0;

    .logo-img {
        margin-top: 1rem;
    }

    .logo-text {
        margin-left: .5rem;
    }

    .f-nav-search-form {
        position: relative;

        .f-nav-search {
            width: 15.95rem;
            border-radius: 2rem;
            min-height: calc(1.65rem + (0.3rem + 2px));
            padding: 0.15rem 1.5rem .15rem .5rem;
        }

        &:after {
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            background-image: url('./images/search.png');
            background-size: auto 100%;
            background-repeat: no-repeat;
            top: .75rem;
            right: 1.15rem;
        }
    }

    .f-nav-link {
        text-decoration: none;
        margin-left: 2.75rem;
        position: relative;
        display: inline-block;

        &.login {
            margin-left: 0;
        }

        .f-nav-cart-div {
            position: relative;

            img {
                width: 1.9rem;
            }

            .num-badge {
                position: absolute;
                top: -.45rem;
                right: -.4rem;
            }
        }

        .title {
            float: right;
            margin: .15rem 0 0 1.25rem;
            letter-spacing: .15rem;
        }
    }

    .separate {
        clear: both;
        margin: 0 1.25rem;
    }
}

.f-cart-tooltip {
    top: 3.35rem !important;
    opacity: 1 !important;

    .arrow {
        &:before {
            border-width: 0 1rem 1rem;
        }
    }

    .tooltip-inner {
        max-width: 400px;
        border-radius: .5rem;
        padding: 1.25rem 0;
        text-align: left;

        .lead {
            border-bottom: 1px solid;
        }

        img {
            width: calc(20% - 1rem);
            padding-left: 1rem;
        }

        span {
            display: inline-block;
            width: 25%;
            padding-left: 1rem;
            vertical-align: top;

            &.contant {
                width: calc(55% - 1rem);
            }
        }
    }
}

.main-area {
    margin-top: 1.5rem;
}

.ct-pc-left {
    margin-right: .25rem;

    .list-group {

        &.menu,
        &.news {
            border-bottom: 1px solid;
            border-radius: 0;
        }

        .list-group-item {
            background-color: inherit;
            letter-spacing: .15rem;
            border: 0;
            padding-left: 0;
            padding-right: 0;
            margin-right: 1rem;

            &.title {
                padding-top: 0;
            }

            button {
                width: 100%;
                text-align: left;
                padding: 0;
                letter-spacing: .15rem;
                text-decoration: none;
                position: relative;
                box-shadow: none;

                &.not-collapsed {
                    &:after {
                        border-top: .2rem solid;
                        border-right: .2rem solid transparent;
                        border-bottom: 0;
                        border-left: .2rem solid transparent;
                    }
                }

                &:after {
                    position: absolute;
                    display: inline-block;
                    top: 50%;
                    right: 0;
                    content: "";
                    border-top: .2rem solid transparent;
                    border-right: .2rem solid;
                    border-bottom: .2rem solid transparent;
                    border-left: 0;
                }
            }
        }

        &.sub {
            padding-left: 2rem;

            .f-sub-menu-link {
                text-decoration: none;
            }
        }

        .f-news-link {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.ct-pc-main,
.more-list-page,
.user-page {
    border-left: 1px solid;
    min-height: calc(100vh - 150px);
    padding-left: 3rem;

    .ct-carousel {
        margin-bottom: 4rem;

        .carousel-indicators {
            bottom: -3rem;

            li {
                width: .5rem;
                height: .5rem;
                border: 1px solid;
                border-radius: .25rem;
                margin-left: 1.25rem;
                margin-right: 1.25rem;
            }
        }
    }
}

.ct-home-iteam-list,
.more-list-page {
    h5 {
        letter-spacing: .15rem;
    }

    .f-more-warp {
        text-align: right;

        .f-more-link {
            letter-spacing: .15rem;
        }
    }

    .card {
        border-radius: 0;
        border-width: 0;
        background-color: inherit;

        .card-img,
        .card-img-top {
            border-radius: 0;
        }

        .card-body {
            padding-left: 0;
            padding-right: 0;
            letter-spacing: .15rem;

            .price {
                .bi-heart {
                    float: right;
                    margin-top: .35rem;
                    cursor: pointer;
                }
            }
        }
    }
}

.ct-home-iteam-list .card {
    min-width: 17rem;
}

.ct-footer {
    .lang-select {
        box-shadow: none;
        outline: none;
        width: 70%;
    }

    letter-spacing: .15rem;

    img {
        width: 60%;
    }
}

.login-page,
.forget-page,
.register-page,
.cart-page,
.checkout-page,
.done-page {
    min-height: calc(100vh - 237px);

    .card {
        border-radius: .5rem;

        p.title {
            border-bottom: 1px solid;
        }
    }

    input,
    select {
        border-width: 0px;
        height: auto;
        padding: .75rem;
        border-radius: .5rem;

        &:focus {
            box-shadow: none;
        }
    }

    select {
        padding: .7rem .75rem;
    }

    .fd-btn {
        width: 10rem;
    }
}

.register-page {
    .warp {
        border-radius: .5rem;

        .list-title {
            border-bottom: 1px solid;
        }

        #radio-gender {
            margin-top: 1.75rem;
        }

        .f-submit-warp {
            margin-top: 4.5rem;

            .f-submit-buttom-warp {
                margin-top: -.75rem;
            }
        }
    }
}

.cart-page,
.checkout-page {

    .cart-title-warp {
        border-bottom: 1px solid;

        .cart-img {
            width: 2.5rem;
        }

        .cart-title {
            margin: .35rem 0 0 1.5rem;
        }
    }

    .cart-list-warp {
        border-bottom: 1px solid;

        .cart-iteam {
            .prod-img {
                width: 100%;
            }
        }
    }

    .all-select-warp {
        padding: 0 2.15rem;
    }

    .total-warp {
        a {
            float: right;
        }
    }

    .pay-warp {
        .fd-btn.pay-type-btn {
            border: 1px solid;
            border-radius: .25rem;
            padding: .5rem 1rem .5rem 3rem;
            background-image: url('./images/pay-1.png');
            background-repeat: no-repeat;
            background-size: auto 60%;
            background-position: .5rem;
            text-align: left;
            width: 12rem;

            &:last-child {
                background-image: url('./images/pay-2.png');
            }
        }
    }
}

.checkout-page .total-warp {
    height: 100%;
}

.done-page {
    background-image: url('./images/done.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 25%;
    position: relative;

    .f-user-link-warp {
        position: absolute;
        bottom: 0;
    }
}
